include mixin

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    title Starter-kit
    link(rel='stylesheet' href='assets/css/style.min.css')
  body
    .wrapper
      h1.main-title.
        Trololoo
      p.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Eligendi pariatur eos praesentium eaque veniam explicabo
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='assets/js/bundle.min.js')